* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.overskrift, .underoverskrift {
    font-family: serif;
    font-size: 40px;
}

/*.boks {
    text-align: center;
    width: 400px;
    height: 150px;
    background-color: rgb(184, 184, 184);

    margin-top: 400px;
    
    padding: 20px;

    border: 2px solid white;
}*/

#indexdoc {
    background: url("Bilder/sjakkbrikker_index.jpg") no-repeat center fixed;
    background-size: cover;
}

#påmeldingdoc {
    background: url("Bilder/sjakklokke_påmelding.jpg") no-repeat center fixed;
    background-size: cover;
}

/*Overskrifter */

.overskriftboks {
    text-align: center;
    width: 500px;
    height: 80px;
    background-color: rgb(184, 184, 184);

    padding: 8px;
    margin: auto;
    border: 2px solid black;
}

#logo {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    margin: 15px;
}

#logo a {
    text-decoration: none;
    color: #000;
}

.underoverskrift {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 30px;
    
}

.informasjon .underoverskrift {
    margin: 100px;
}

/*Generell informasjon */
.informasjon {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    
    list-style: circle;
}

.informasjon_topp {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
}

/*Påmelding */
.påmelding_informasjon {
    font-size: 20px;

    text-align: center;

    margin-top: 50px;

    color: white;
}

.påmelding_informasjon a {
    color: white;
}


/*Footer */
/*
footer a {
    width: 100%;

    font-size: 20px;

    color: black;

    justify-content: space-evenly;
}

footer a:visited {
    color: black;
}

footer a:hover {
    color: grey;
}


footer {
    position: fixed;
    bottom: 10px; 
    padding: 120;
    text-align: center;
}

.footerboks {
    width: 100vw;   	
}
*/


/*Lenker */
a {
    color: black;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: black;
}

a:focus {
    font-weight: bold;
}


/*Meny */
nav {
    z-index: 1; /*Overlapper bildet*/
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #c09b6f;
    font-family:'Crete Round', serif;
    border: 1px solid #000;
}

.burger-meny {
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 50px;
    padding: auto;
}

.burger-meny .bar {
    height: 8px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}


/*Meny lenker */
.meny-lenker {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20px;
    
}

.meny-lenker li {
    list-style: none;
}

.meny-lenker a {
    color: black;
    text-decoration: none;
    padding: 3rem;
    display: block;
    font-weight: bold;
}

.meny-lenker li:hover {
    background-color: #f1be7e;
}

/*Tabelldiv */
#tabelldiv {
    margin-bottom: 100px;
}

/*Sjakknøtter */
.sjakk {
    text-align: center;
    display: grid;
    width: 500px;
    height: 500px;
    margin: 20px auto;

    position: relative;
    right: 24px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.sjakknøtter_informasjon {
    font-size: 20px;
    text-align: center;
}


#løsning1, #løsning2, #løsning3 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  
.usynlig {
    position: relative;
    top: 15px;
    background-color: white!important;
  }

.knapp {
      font-size: 30px;

  }

.knappboks {
    margin-top: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
  }


.knapp:hover {
    background-color: #4CAF50;
    color: white;
  }


.sjakk > div:nth-child(even) {
    background-color:beige;
}

.sjakk > div:nth-child(odd) {
    background-color: rgba(168, 105, 33, 0.74);
}


.sjakk > div:not([class="usynlig"]) {
    border: 1px solid #000;

    display: flex;
    align-items: center;
    justify-content: center;
}   

.tårn {
    font-size: 40px;
}

.springer {
    font-size: 40px;
}

.løper {
    font-size: 40px;
}

.dronning {
    font-size: 40px;
}

.konge {
    font-size: 40px;
}

.bonde {
    font-size: 40px;
}


/*Tabell */
.program_informasjon {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: beige;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

tr:nth-child(odd)  {
    background-color: rgba(168, 105, 33, 0.74);
}

td:last-child{
    font-style: italic;
}

thead > tr:first-child{
    background-color: grey;
}

th:first-child{
    width: 10px;
}

td:first-child{
    width: 10px;
}


/*Når width < 1024px */
@media (max-width: 1024px) {

    /*Overskrifter */
    #logo {
        font-size: 50px;
    }

    .overskrift {
        font-size: 70px;
        width: 500px;
        height: 110px;
        margin: auto;
    }

    .overskriftboks {
        text-align: center;
        width: 750px;
        height: 180px;
        background-color: rgb(184, 184, 184);

        padding: 8px;
        margin: auto;
        border: 2px solid black;
    }

    .underoverskrift {
        font-size: 55px;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 20px;
    }



/*Generell informasjon */
    .informasjon {
        font-size: 40px;
        margin-left: 60px;
        margin-top: 10px;
    }

    .informasjon_topp {
        font-size: 45px;
        margin: auto;
        margin-top: 30px;
    }
    

    /*Meny */
    .burger-meny {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .meny-lenker {
        font-size: 50px;
        display: none;
        
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0px;

        height: 100vh ;
        width: 40%;
    
        background-color: grey;
        
        flex-direction: column;
        align-items: center;

        overflow-y: auto;
    }

    .meny-lenker li {
        text-align: center;
        margin-top: 50px;
    }

    .meny-lenker li a {
        padding: 1rem 1rem;
    }

    .meny-lenker.active {
        display: flex;
    }

    #øverste_lenke {
        margin-top: 200px;
    }

    /*Påmelding */
    .påmelding_informasjon {
        font-size: 45px;
    }

    /*Sjakknøtter*/
    .sjakk {
        width: 800px;
        height: 800px;
    }

    .tårn, .springer, .løper, .dronning, .konge, .bonde {
        font-size: 70px;
    }

    .usynlig {
        font-size: 40px;
    }


    .sjakknøtter_informasjon {
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
    }

    .knapp {
        font-size: 45px;
        height: 60px;
        margin-top: 40px;
        
        
    }

    #løsning1, #løsning2, #løsning3 {
        font-size: 30px;

        position: relative;
        top: 30px;
    }


    /*Tabell */
    .program_informasjon {
        text-align: center;
        font-size: 50px;
        margin-top: 30px;
    }

    table {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        background-color: beige;
    }
    
    th, td {
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
    }
    
    tr:nth-child(odd)  {
        background-color: rgba(168, 105, 33, 0.74);
    }
    
    td:last-child{
        font-style: italic;
    }
    
    thead > tr:first-child{
        background-color: grey;
    }
    
    th:first-child{
        width: 10px;
    }
    
    td:first-child{
        width: 10px;
    }

}

/*Når width < 920px */
@media (max-width: 920px) {
    /*Overskrifter */
    #logo {
        width: 50%;
        
    }

    .overskrift {
        font-size: 70px;
        width: 500px;
        height: 110px;
        margin: auto;
    }

    .overskriftboks {
        text-align: center;
        width: 550px;
        height: 180px;
        background-color: rgb(184, 184, 184);

        padding: 8px;
        margin: auto;
        border: 2px solid black;
    }

    .knapp {
        margin-top: 40px;
    }
    
}

/*Når width < 740px */  
@media (max-width: 740px) {
    /*Meny */
    .meny-lenker {
        font-size: 30px;
    }

    /*Overskrifter */
    .overskrift {
        text-align: center;
        font-size: 70px;
        
        margin: auto;
    }

    .overskriftboks {
        background-color: rgb(184, 184, 184);

        width: 100vw;
        padding: 8px;
        margin: auto;
        border: 2px solid black;
    }

}


